In [1]:
import pandas as pd

In [6]:
filename = r"D:\Uncertainty\uncertainty_estimation_tutorial\dummy.xlsx"

In [7]:
df = pd.read_excel(filename)
df.head()

,Unnamed: 0,report_date,calmonth,cdp,del,occ,zconcakey,cal_workdays_month,zslsplans,aprodhmod,rdpmnfgrp
0,1,2013-11-03,201301,0,0,0,100800000486469996769559962354601585801955377152,0,80,BAH00,1078
1,2,2013-11-03,201301,25,25,25,101000000400830997658360357519530040927081988096,20,10,BAH00,7
2,3,2013-11-03,201301,1175,1175,1175,101000000449911995010044961745031515369086386176,22,10,BAH00,27
3,4,2013-11-03,201301,3760,3760,3760,101000000444598003693888224093957335532150194176,20,10,BAH00,7
4,5,2013-11-03,201301,0,0,0,101000000482098008833212571979100440804106174464,20,10,BAH00,23

In [8]:
df['report_date'] = pd.to_datetime(df['report_date'], format='%Y-%m-%d')

In [9]:
df.head()

,Unnamed: 0,report_date,calmonth,cdp,del,occ,zconcakey,cal_workdays_month,zslsplans,aprodhmod,rdpmnfgrp
0,1,2013-11-03,201301,0,0,0,100800000486469996769559962354601585801955377152,0,80,BAH00,1078
1,2,2013-11-03,201301,25,25,25,101000000400830997658360357519530040927081988096,20,10,BAH00,7
2,3,2013-11-03,201301,1175,1175,1175,101000000449911995010044961745031515369086386176,22,10,BAH00,27
3,4,2013-11-03,201301,3760,3760,3760,101000000444598003693888224093957335532150194176,20,10,BAH00,7
4,5,2013-11-03,201301,0,0,0,101000000482098008833212571979100440804106174464,20,10,BAH00,23

In [ ]:
start_date = "2013-11-03"4
end_date = "2022-04-03"

In [ ]:
year = ["2013","2014","2015","2016","2017","2018","2019","2020","2021","2022"]
month = ["01","02","03","04","05","06","07","08","09","10","11","12"]